<?xml version="1.0"?>
<config>    
	<modules>
		<CardAccessServices_Casmtp>
			<version>1.0.1</version>
		</CardAccessServices_Casmtp>
	</modules>
	<frontend>
		<routers>
			<casmtp>
				<use>standard</use>
				<args>
					<module>CardAccessServices_Casmtp</module>
					<frontName>casmtp</frontName>
				</args>
			</casmtp>
		</routers>
	</frontend>
	<global>
		<blocks>
			<casmtp>
				<class>CardAccessServices_Casmtp_Block</class>
			</casmtp>
		</blocks>
		<helpers>
			<casmtp>
				<class>CardAccessServices_Casmtp_Helper</class>
			</casmtp>
		</helpers>
		<models>
			<casmtp>
				<class>CardAccessServices_Casmtp_Model</class>
			</casmtp>
		</models>
		<resources>
			<casmtp_setup>
				<setup>
					<module>CardAccessServices_Casmtp</module>
				</setup>
				<connection>
					<use>core_setup></use>
				</connection>
			</casmtp_setup>
			<casmtp_write>
				<connection>
					<use>core_write</use>
				</connection>
			</casmtp_write>
			<casmtp_read>
				<connection>
					<use>core_read</use>
				</connection>
			</casmtp_read>
		</resources>
	</global>
	<default>
		<payment>
			<casmtp>
				<model>casmtp/paymentMethod</model>
				<active>0</active>
				<title>Credit Card (Card Access Services)</title>
				<order_status>processing</order_status>
				<is_test>no</is_test>
				<log_events>no</log_events>
				<useccv>1</useccv>
				<cctypes>VI,MC</cctypes>
				<proxy_server_host/>
				<proxy_server_port/>
				<proxy_server_username/>
				<proxy_server_password/>
				<payment_action>authorize_capture</payment_action>
				<allowspecific>0</allowspecific>
			</casmtp>
		</payment>
	</default>
</config>
